fastapi
uvicorn[standard]
langchain
langchain-community
langchain-google-genai
qdrant-client
langchain-qdrant
# sentence-transformers
langgraph
soundfile
transformers==4.44.2
google-genai
eng_to_ipa
# torchaudio
python-multipart
gtts
pydub
fastmcp
pytz
openpyxl
icrawler